body {
  background-color: #181919;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  max-height: 133%;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

.logo {
  max-width: 150px; /* Set a maximum width for the logo */
  width: 100%; /* Ensure it scales responsively */
  height: auto; /* Maintain the aspect ratio */
  display: block;
}

.navbar-nav .nav-link,
.sign-in-button {
  font-family: 'Poppins', sans-serif;
}

.custom-margin {
  margin-right: 5%; /* Adjust the percentage as needed */
}

.navbar {
  overflow: hidden;
  top: 2%;
  background: rgba(0, 0, 0, 0);
}

.navbar a {
  float: right;
  display: inline;
  color: white;
  text-align: center;
  padding: 2%;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5%;
  font-family: 'Poppins', sans-serif;
  transition: all 0.2s linear;
}

.sign-in-button {
  display: flex;
  align-items: center;
  background-color: #555; /* Grey background */
  border: none;
  border-radius: 20px; /* Rounded corners */
  padding: 10px 20px;
  color: #fff; /* White text color */
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.sign-in-button .icon {
  margin-right: 8px; /* Space between icon and text */
  font-size: 18px; /* Adjust icon size */
}

.sign-in-button:hover {
  background-color: #666; /* Slightly lighter grey on hover */
}





.footer {
  background-color: #1a1a1a;
  color: white;
  padding: 40px 0;
}

hr.someClass {
  background-color:  #e83e8c;
  height: 3px;
  border-top: 1px solid  #e83e8c 
}

.footer .footer-column {
    flex: 1;
    margin: 0 20px;
    min-width: 200px; /* Adjust based on your design */
}

.footer .container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer h5 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #f8f9fa;
  position: relative;
  padding-left: 20px;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #bdbdbd;
  text-decoration: none;
  transition: color 0.2s;
}

.footer ul li a:hover {
  color: #f8f9fa;
}

.footer .social-icons {
  display: flex;
}

.footer .social-icons li {
  margin-right: 10px;
  padding: 5%;
}

.footer .social-icons li a {
  color: #bdbdbd;
  font-size: 18px;
  transition: color 0.2s;
}

.footer .social-icons li a:hover {
  color: #f8f9fa;
}