iframe {
  width:100%;
  height:100%;
  border-radius:20px;
}

.container{
  /* display: flex; */
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

#main
{
  max-width:95vw;
  height:80vh;
}



.house-card
{
  max-height:20vh;
  max-width:24vw;
  width:24vw;
  float:left;
  background:#ADD8E6;
  justify-content:center;
  display: flex;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding:10px;
}


.house-list{
  width: 100%;
  overflow-y: auto;
  padding: 10px;
}

.house-list img {
  display: block;
  max-height:20vh;
  max-width:10vw;
  margin-left: auto;
  margin-right: auto;
  float:left;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255, 0.255)
}


.address {
  color:white;
  float:left;
}



.bento-card {
  display: flex;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.bento-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px 0 0 5px;
}

.info {
  padding: 10px;
  flex: 1;
}

.info h3 {
  margin-top: 0;
}

.info p {
  margin-bottom: 5px;
  font-size: 0.8rem;
}

.rating {
  display: flex;
}

.rating span {
  font-size: 1.5rem;
  color: orange;
}

.rating span.checked {
  color: gold;
}